{% extends 'donations/base.html' %}

{% block title %}Проекты - Благотворительная платформа ВТБ{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Благотворительные проекты</h1>


        <div class="row">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4 mb-4">
                    {% include 'donations/includes/project_card.html' %}
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info text-center">
                        <h4>Проектов не найдено</h4>
                        <p>Попробуйте изменить фильтры или зайдите позже.</p>
                        <a href="{% url 'projects_list' %}" class="btn btn-info">
                            Показать все проекты
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}